*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
  }
  
  i {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
.navbar{
    background:  #212529;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
}
.cart-items{
    top: 7px;
    right: 47px;
    position: absolute;
    
}
.cart i{
    background: white;
    color: black;
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
}
.cart-items{
    background: red;
    border-radius: 4px;
    padding: 3px;

}
.shop{
    display: grid;
    grid-template-columns: repeat(4,223px);
    gap: 30px;
justify-content: center;
}
.items{
border: 2px solid #212529;
border-radius: 4px;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.price{
    display: flex;
    justify-content: space-between;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}
.bi-dash{
    color: red;
}
.bi-plus{
    color: green;
}
@media (max-width:1000px){
    .shop{
    grid-template-columns: repeat(2,220px);
}
}
@media (max-width:500px){
    .shop{
    grid-template-columns: repeat(1,220px);
}
}